In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statistics
from sklearn.metrics import classification_report, confusion_matrix
import pickle

In [2]:
data=pd.read_csv('train.csv')
data.head(10)

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage
0,F00000001,188,1,0,1,0,0.0,0,1,0
1,F00000003,209,1,0,1,0,0.0,0,2,1
2,F00000004,257,1,0,1,0,0.0,0,2,1
3,F00000005,257,1,1,1,0,0.0,0,2,1
4,F00000006,342,1,0,1,0,0.0,0,2,1
5,F00000008,448,0,1,1,0,NaN,0,2,1
6,F00000009,448,0,1,1,0,NaN,0,2,1
7,F00000010,577,1,0,1,0,0.0,0,1,2
8,F00000012,731,0,0,1,0,0.0,0,2,0
9,F00000020,1132,1,0,1,0,0.0,0,1,2

In [3]:
print(data.dtypes)

ID                          object
Estimated_Insects_Count      int64
Crop_Type                    int64
Soil_Type                    int64
Pesticide_Use_Category       int64
Number_Doses_Week            int64
Number_Weeks_Used          float64
Number_Weeks_Quit            int64
Season                       int64
Crop_Damage                  int64
dtype: object

In [4]:
print(data.describe())

       Estimated_Insects_Count     Crop_Type     Soil_Type  \
count             88858.000000  88858.000000  88858.000000
mean               1399.012210      0.284375      0.458417
std                 849.048781      0.451119      0.498271
min                 150.000000      0.000000      0.000000
25%                 731.000000      0.000000      0.000000
50%                1212.000000      0.000000      0.000000
75%                1898.000000      1.000000      1.000000
max                4097.000000      1.000000      1.000000

       Pesticide_Use_Category  Number_Doses_Week  Number_Weeks_Used  \
count            88858.000000       88858.000000       79858.000000
mean                 2.264186          25.849952          28.623970
std                  0.461772          15.554428          12.391881
min                  1.000000           0.000000           0.000000
25%                  2.000000          15.000000          20.000000
50%                  2.000000          20.000000          28.000000
75%                  3.000000          40.000000          37.000000
max                  3.000000          95.000000          67.000000

       Number_Weeks_Quit        Season   Crop_Damage
count       88858.000000  88858.000000  88858.000000
mean            9.589986      1.896959      0.190562
std             9.900631      0.701322      0.454215
min             0.000000      1.000000      0.000000
25%             0.000000      1.000000      0.000000
50%             7.000000      2.000000      0.000000
75%            16.000000      2.000000      0.000000
max            50.000000      3.000000      2.000000

In [5]:
print(data.shape)

(88858, 10)

In [6]:
print(data.isnull().sum())

ID                            0
Estimated_Insects_Count       0
Crop_Type                     0
Soil_Type                     0
Pesticide_Use_Category        0
Number_Doses_Week             0
Number_Weeks_Used          9000
Number_Weeks_Quit             0
Season                        0
Crop_Damage                   0
dtype: int64

In [7]:
print(data.isna().sum())

ID                            0
Estimated_Insects_Count       0
Crop_Type                     0
Soil_Type                     0
Pesticide_Use_Category        0
Number_Doses_Week             0
Number_Weeks_Used          9000
Number_Weeks_Quit             0
Season                        0
Crop_Damage                   0
dtype: int64

In [8]:
data['Number_Weeks_Used'].fillna(20, inplace=True)

In [9]:
data.head(10)

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage
0,F00000001,188,1,0,1,0,0.0,0,1,0
1,F00000003,209,1,0,1,0,0.0,0,2,1
2,F00000004,257,1,0,1,0,0.0,0,2,1
3,F00000005,257,1,1,1,0,0.0,0,2,1
4,F00000006,342,1,0,1,0,0.0,0,2,1
5,F00000008,448,0,1,1,0,20.0,0,2,1
6,F00000009,448,0,1,1,0,20.0,0,2,1
7,F00000010,577,1,0,1,0,0.0,0,1,2
8,F00000012,731,0,0,1,0,0.0,0,2,0
9,F00000020,1132,1,0,1,0,0.0,0,1,2

In [10]:
print(data.isnull().sum())

ID                         0
Estimated_Insects_Count    0
Crop_Type                  0
Soil_Type                  0
Pesticide_Use_Category     0
Number_Doses_Week          0
Number_Weeks_Used          0
Number_Weeks_Quit          0
Season                     0
Crop_Damage                0
dtype: int64

In [11]:
data.drop('ID',axis=1,inplace=True)

In [12]:
data.head()

,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage
0,188,1,0,1,0,0.0,0,1,0
1,209,1,0,1,0,0.0,0,2,1
2,257,1,0,1,0,0.0,0,2,1
3,257,1,1,1,0,0.0,0,2,1
4,342,1,0,1,0,0.0,0,2,1

In [13]:
X, Y = data.drop(["Crop_Damage"], axis=1).values, data["Crop_Damage"].values

In [14]:
print(X.shape,Y.shape)

(88858, 8) (88858,)

In [15]:
print(X)

[[1.880e+02 1.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 1.000e+00]
 [2.090e+02 1.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 2.000e+00]
 [2.570e+02 1.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 2.000e+00]
 ...
 [3.516e+03 1.000e+00 0.000e+00 ... 4.000e+01 8.000e+00 2.000e+00]
 [3.702e+03 1.000e+00 0.000e+00 ... 2.500e+01 1.800e+01 3.000e+00]
 [3.895e+03 1.000e+00 0.000e+00 ... 3.700e+01 7.000e+00 3.000e+00]]

In [16]:
print(Y)

[0 1 1 ... 0 0 0]

In [17]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=42,train_size=0.7)

In [18]:
dt=DecisionTreeClassifier()
dt.fit(X_train,y_train)
pred=dt.predict(X_test)
pred

array([0, 1, 1, ..., 0, 0, 1], dtype=int64)

In [19]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.7475429514592242

In [26]:
report1 = classification_report(y_test,pred)
print(report1)

              precision    recall  f1-score   support

           0       0.87      0.85      0.86     22256
           1       0.24      0.27      0.26      3697
           2       0.08      0.09      0.08       705

    accuracy                           0.75     26658
   macro avg       0.40      0.40      0.40     26658
weighted avg       0.76      0.75      0.75     26658

In [20]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(n_estimators=50)
rf.fit(X_train,y_train)
prediction=rf.predict(X_test)
prediction

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [21]:
accuracy_score(y_test, prediction)

0.8221922124690525

In [27]:
report2 = classification_report(y_test, prediction)
print(report2)

              precision    recall  f1-score   support

           0       0.87      0.95      0.91     22256
           1       0.38      0.20      0.26      3697
           2       0.14      0.06      0.09       705

    accuracy                           0.82     26658
   macro avg       0.46      0.40      0.42     26658
weighted avg       0.78      0.82      0.79     26658

In [22]:
from lightgbm import LGBMClassifier
model = LGBMClassifier(random_state=27, max_depth=6, n_estimators=400)
model.fit(X_train,y_train)
pr=model.predict(X_test)
accuracy_score(y_test, pr)

0.8451496736439342

In [28]:
report3 = classification_report(y_test, pr)
print(report3)

              precision    recall  f1-score   support

           0       0.87      0.98      0.92     22256
           1       0.51      0.21      0.30      3697
           2       0.33      0.01      0.02       705

    accuracy                           0.85     26658
   macro avg       0.57      0.40      0.41     26658
weighted avg       0.80      0.85      0.81     26658

In [30]:
Pkl_Filename = "agri.pkl"  
pickle.dump(model, open(Pkl_Filename, 'wb'))